.page-header {
  padding-left: 20px;
}

li.done {
  text-decoration: line-through;
}

.kontonr {
  font-size: 2em;
  text-align: center;
}

.progress .progress-bar {
  font-size: 14px;
  line-height: 14px;
}

.progress {
  height: 15px;
}